<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>High Scores - <%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS for application -->
    <link href="/stylesheets/brain-games.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- NAVBAR
================================================== -->
<body>
<!-- NAVBAR -->
<% include /sub-views/navbar %>

<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">

    <% if (scores != null) { %>
        <h1>High scores for <%= title %></h1>
    <% } %>

    <br>

    <!-- Score list -->
    <div id="score-list">
        <% if (scores != null) {
            var rowClass;

            for(var i = 0; i < scores.length; i++) {
                if (scores[i].userId === currentUser) {
                    rowClass = 'row red strong';
                } else {
                    rowClass = 'row';
                } %>

                <div class="<%= rowClass %>">
                    <div class="col-sm-4">
                        <strong><%= (i+1) %>. </strong> <%= scores[i].userFullname %>
                    </div>
                    <div class="col-sm-4">
                        <%= scores[i].date %>
                    </div>
                    <div class="col-sm-4">
                        <strong><%= scores[i].score.points %></strong>
                    </div>

                </div><!--/row-->

                <hr>

            <% } %>
            <% if (currentUserScore) { %>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">.............</div>
                    <div class="col-sm-4"></div>
                </div> <hr>
                <div class="row red strong">
                    <div class="col-sm-4">
                        <strong><%= currentUserScore.order %>. </strong> <%= currentUserScore.userFullname %>
                    </div>
                    <div class="col-sm-4">
                        <%= currentUserScore.date %>
                    </div>
                    <div class="col-sm-4">
                        <strong><%= currentUserScore.score.points %></strong>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <p class="center"><strong>There are no scores for this game.</strong></p>
        <% } %>

    </div><!--/score list-->

</div><!--/container -->

<!-- FOOTER -->
<% include /sub-views/footer %>

<!-- SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/brain-games.js"></script>
<script src="/js/docs.min.js"></script>

</body>
</html>
